@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;600;700&display=swap");

@import "reset.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/points.css";
@import "components/icon-row.css";
@import "components/alternative_screen_header.css";

/* screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";

body {
  font-family: "Baloo Tamma 2";
  background-color: wheat;
  color: rgba(0, 0, 0, 0.692);
}

.main-screen {
  margin: 0px 25px;
}
