.friends_screen {
  padding: 0px 25px;
}

#friends-display-link {
  text-align: center;
  display: block;
  background-color: rgb(245, 232, 209);
  padding: 15px 0px;
  font-size: 16px;
}

#friends-display-link i {
  color: rgb(243, 187, 83);
  padding: 0px 5px;
  margin-bottom: 5px;
}
