.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(245, 166, 20, 0.384);
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgb(243, 187, 83);
}
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  position: relative;
}

.nav__notification {
  position: absolute;
  left: 15px;
  bottom: 20px;
}

.nav__dot {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  position: absolute;
  left: 35px;
  bottom: 30px;
}
